*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.IdCard{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: greenyellow;
    font-family:'verdana';
    padding: 0 20px;
}
.container{
    display: flex;
    width: 600px;
    height: auto;
    background-color: beige;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
}
.upper-container{
    border-right: 1px solid burlywood;
}
.qr-code img {
    width: 50px;
    align-items: flex-end;
    justify-content: center;
}
h2 {
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
h3 {
    font-size: 12px;
    margin: 2.5px 0;
    font-weight: 300;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
}
h4 {
    font-size: 12px;
    margin: 2.5px 0;
    font-weight: 300;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    margin-bottom: 20px;
}
.details {
background: white;
}
.details p {
    position: relative;
    margin: 20px 20px 20px 20px;
    padding: 5px;
}
.upper-container, .description{
    padding: 20px;
    text-align: center;
}
.upper-container a {
    position: relative;
    display: block;
}
.photo img {
    width: 100px;
    margin-top: 15px;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 30px;
    transition: .2s;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.icons a {
    font-size: 30px;
    transition: all ease 500ms;
}
.whatsapp {
    color: green;
}
.linkedin {
    color: darkblue;
}
.facebook {
    color: blue;
}
.instagram {
    color: crimson;
}
.email {
    color: blueviolet;
}
.icons a:hover {
    transform: scale(1.5);
}